/**
* ********************************************
*
* MOBILE / SMALL SCREEN (0px - 480px)
*
* ********************************************
*/

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
  resize: vertical;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  max-width: none;
  max-height: none;
  background-color: #fff;
  font-family: 'Cairo', sans-serif;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  transition: transform 160ms ease;
}

body.navbar-menu-active {
  transform: translateX(-250px);
}

a {
  color: #0069ab;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* Scrollbar - Início
/* ******************************************** */

::-webkit-scrollbar {}

::-webkit-scrollbar {
  width: 8px;
  height: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: hidden;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

::-webkit-resizer {
  background-color: transparent;
}

/* Scrollbar - Fim
/* ******************************************** */



/* Header - Início
/* ******************************************** */

.header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 500;
}


/* Navbar - Início
/* ******************************************** */

.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 50px 0;
  width: 100%;
  height: auto;
  margin: 0 auto 0 auto;
  z-index: 700;
}

.navbar ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 0;
  list-style-type: none;
}

.navbar-left,
.navbar-center,
.navbar-right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 100%;
}

.navbar-left {
  margin-left: 25px;
  z-index: 600;
}

.navbar-center {
  margin: 0 auto;
}

.navbar-right {
  margin-right: 25px;
  z-index: 600;
}

.navbar .navbar-logo {
  display: block;
  position: relative;
  width: auto;
  height: 45px;
  z-index: 100;
}

.navbar .navbar-logo img,
.navbar .navbar-logo svg {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
}

.navbar .navbar-logo svg * {
  fill: #fff;
}

.navbar .social-icons {
  display: none;
}

.navbar .navbar-menu {
  display: none;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.85);
  list-style-type: none;
}

.navbar-menu.is-open {
  display: flex;
}

.navbar-menu li {
  cursor: pointer;
  height: auto;
}

.navbar-menu a {
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  height: 100%;
  margin: 10px 0;
  color: #FAFAFA;
  font-family: 'Cairo', sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}

.navbar-menu a:hover {
  font-weight: 600;
}

.navbar-menu .featured a {
  background-color: #fff;
  color: #000;
}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .navbar {
    padding: 50px 20px;
    width: calc(100% - 40px);
  }

  .navbar .navbar-menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: auto;
    height: 100%;
    background-color: transparent;
  }

  .navbar-menu li {
    height: auto;
  }

  .navbar-menu a {
    margin: 0 5px;
    font-size: 14px;
  }

  .navbar .navbar-menu::before {
    height: 30px;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .navbar .navbar-logo {
    height: 60px;
  }
}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {
  /* .navbar { width: 1100px; } */
}

/* Navbar - Fim
/* ******************************************** */




/* Social Icons - Início
/* ******************************************** */

.social-icons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.social-icons .social-icon {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  text-decoration: none;
}

.social-icons .social-icon:nth-child(1) {
  margin-left: 0;
}

.social-icons .social-icon svg {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
}

.social-icons .social-icon svg * {
  fill: #00395A;
}

.social-icons .social-icon:hover svg * {
  fill: rgba(255, 255, 255, 1);
}

/* Social Icons - Fim
/* ******************************************** */



/* Hamburger Icon - Início
/* ******************************************** */

.hamburger {
  outline: none;
  margin-top: 7px;
}

.hamburger.is-active {}

.hamburger.is-active .hamburger-inner::before {
  background-color: #fff;
}

.hamburger.is-active .hamburger-inner {
  background-color: #fff;
}

.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .hamburger {
    display: none;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {}

/* Hamburger Icon - Fim
/* ******************************************** */



/* Hero - Início
/* ******************************************** */

.hero {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-size: cover;
  background-position: bottom bottom;
  overflow: hidden;
}

.hero-background {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-background video {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-background::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-background-overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  background-image: url('../img/patterns/dot hatch.png');
  z-index: 1;
}

.hero-text {
  padding: 0 25px;
  color: rgba(255, 255, 255, 1);
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  z-index: 1;
}

.hero-space {
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
}

/* IPHONE 6 (>370px) */
@media only screen and (min-width: 370px) {
  .hero-text {
    padding: 0 50px;
  }
}

/* ANDROID 1080p (>420px) */
@media only screen and (min-width: 420px) {
  .hero-text {
    font-size: 42px;
  }
}

/* SMARTPHONE (>520px) */
@media only screen and (min-width: 520px) {
  .hero-text {
    max-width: 600px;
  }
}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {
  .hero-text {
    max-width: none;
    font-size: 46px;
  }
}

/* Hero - Fim
/* ******************************************** */


/* Section - Início
/* ******************************************** */

.section {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

.section-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
}

.section-row {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 1200px;
  height: auto;
  padding: 50px 20px;
  margin: 0 auto;
}

  .section-row.small-pad {
    padding: 25px 10px;
  }

  .section-row.no-pad {
    padding: 0;
  }

    .section-row.no-pad.tb {
      padding: 50px 20px;
      padding-top: 0;
      padding-bottom: 0;
    }

    .section-row.no-pad.lr {
      padding: 50px 20px;
      padding-left: 0;
      padding-right: 0;
    }

  .section-row.no-pad-bottom {
    padding-bottom: 0;
  }

  .section-row.full-width {
    max-width: none;
    width: 100%;
  }

.row-titles {
  margin: 0 auto;
  margin-bottom: 20px;
}

.row-title {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: #464646;
}

.row-subtitle {
  font-size: 21px;
  text-align: center;
  margin: 0;
  color: #051064;
  font-weight: 400;
}

.row-text {
  font-size: 15px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 26px;
  color: #464646;
}

  .row-text:last-child {
    margin-bottom: 0px;
  }

  .row-text p:last-child {
    margin-bottom: 0px;
  }

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: auto;
  height: auto;
}

.grid--half {
  width: 50%;
}

.grid--center {
  margin: 0 auto;
}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .section-row {
    width: 748px;
    padding: 100px 40px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .section-row.small-pad {
    padding: 50px 20px;
  }

  .row-titles {
    width: 560px;
    margin-bottom: 24px;
  }

  .row-title {
    font-size: 36px;
  }

  .row-subtitle {
    font-size: 26px;
  }

  .row-text {
    width: 590px;
    margin-bottom: 34px;
    font-size: 18px;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .section-row {
      width: 980px;
  }

  .row-titles {
    width: 560px;
    margin-bottom: 24px;
  }

  .row-title {
    font-size: 36px;
  }

  .row-subtitle {
    font-size: 28px;
  }

  .row-text {
    width: 590px;
    margin-bottom: 34px;
    font-size: 18px;
  }
}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {
  .section-row {
    width: 1200px;
  }

  .row-titles {
    width: 800px;
  }

  .row-text {
    width: 590px;
  }
}

.section-separator {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 25px;
  margin: 0;
  border: none;
}

.section-separator.pad-top {
  padding-top: 25px;
}

.section-separator.pad-bottom {
  padding-bottom: 25px;
}


.section-separator::before {
  content: '';
  display: block;
  position: relative;
  width: 75%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.75);
}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .section-separator.pad-top {
    padding-top: 50px;
  }

  .section-separator.pad-bottom {
    padding-bottom: 50px;
  }
}

/* Section - Fim
/* ******************************************** */


/* Primary Item - Início
/* ******************************************** */

.primary-grid {
  margin-top: 0;
}

.primary-item {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin: 35px;
}

.primary-item-picture {
  display: block;
  position: relative;
  width: auto;
  height: 85px;
}

.primary-item-picture svg {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
}

.primary-item-picture svg * {
  fill: #fff;
}

.primary-item-title {
  padding: 0;
  max-width: 300px;
  margin: 20px 0 0 0;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.primary-item-description {
  padding: 0;
  max-width: 300px;
  margin: 15px 0;
  color: #f0f0f0;
  font-size: 12px;
  text-align: center;
}

/* Primary Item - Fim
/* ******************************************** */


/* Section - blue - Início
/* ******************************************** */

.section-separator.blue,
.section.blue {
  background-color: #051064;
}

.section.blue .row-title {
  color: #fff;
  font-weight: 700;
}

.section.blue .row-subtitle {
  color: #fff;
}

.section.blue .row-text {
  color: #fff;
}

/* Section - blue - Fim
/* ******************************************** */


/* Section > Prevenir - Início
/* ******************************************** */

.section-prevenir {
  padding: 15px 0;
  height: auto;
  background-image: url('../img/product-lifestye-ExSeries2-inv2.jpg');
  background-size: cover;
  background-position: center;
}

.section-prevenir .section-row {
  align-items: center;
}

.section-prevenir .row-titles {
  margin: 0;
}

.section-prevenir .row-title {
  margin-top: 0;
  color: #fff;
  font-weight: 700;
  text-align: left;
}

/*
.section-prevenir ol::before {
  content: '';
  display: block;
  position: absolute;
  top: 130px;
  left: -15px;
  width: 3px;
  height: 305px;
  background-color: rgba(255, 255, 255, 1.0);
}
*/

.section-prevenir ol {
  padding: 0;
  width: calc(100% - 25px);
  margin: 25px auto 15px auto;
  list-style-type: none;
}

/*
.section-prevenir ol li::before {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: -40px;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background-color: #fff;
}
*/

.section-prevenir ol li {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  padding: 15px 15px 15px 65px;
  margin: 0 0;
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(255, 255, 255, 0.10);
  font-size: 15px;
  line-height: 25px;
  transition: all 160ms ease;
}

.section-prevenir ol li:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.section-prevenir ol li:nth-child(1) {
  margin-top: 0;
}

.section-prevenir ol li:nth-last-child(1) {
  margin-bottom: 0;
}

.section-prevenir ol span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.15);
  color: #F0F0F0;
  font-size: 28px;
}

/* IPHONE 6 (>370px) */
@media only screen and (min-width: 370px) {}

/* ANDROID 1080p (>420px) */
@media only screen and (min-width: 420px) {}

/* SMARTPHONE (>520px) */
@media only screen and (min-width: 520px) {}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .section-prevenir .section-row {
    align-items: flex-start;
  }

  .section-prevenir ol {
    width: 600px;
    margin: 25px 0 15px 0;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {}

/* Section > Prevenir - Fim
/* ******************************************** */


/* Footer - Início
/* ******************************************** */

.footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: auto;
  background-color: #004a70;
}

.footer-top,
.footer-bottom {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 25px 0;
  width: 100%;
}

.footer-top {
  align-items: center;
  background-color: #0069ab;
}

.footer-bottom {
  align-items: center;
  background-color: #004a70;
}

.footer-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding: 0 15px;
  width: calc(100% - 30px);
}

.footer-content-left,
.footer-content-right {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
}

.footer-content-left {}

.footer-content-right {}

.footer-content-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 20px 0 0 0;
}

.footer-logo {
  display: block;
  position: relative;
  width: 62px;
  height: 50px;
}

.footer-logo img,
.footer-logo svg {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
}

.footer .social-icons {
  margin: 20px 0 10px 0;
}

.footer .social-icon {
  height: 18px;
}

.footer .social-icon svg * {
  fill: #fff;
}

.footer .social-icon:hover svg * {
  fill: #87CDFB;
}

.footer .barra-integradora {
  display: block;
  margin-top: -15px;
  padding-bottom: 15px;
}

/* IPHONE 6 (>370px) */
@media only screen and (min-width: 370px) {}

/* ANDROID 1080p (>420px) */
@media only screen and (min-width: 420px) {}

/* SMARTPHONE (>520px) */
@media only screen and (min-width: 520px) {}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .footer-bottom .footer-content {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    width: calc(100% - 30px);
  }

  .footer-bottom .footer-content-left,
  .footer-bottom .footer-content-right {
    flex-flow: row nowrap;
    align-items: flex-end;
    width: auto;
  }

  .footer-bottom .footer-content-left {
    justify-content: flex-start;
    align-items: flex-end;
  }

  .footer-bottom .footer-content-right {
    justify-content: flex-end;
  }

  .footer .social-icons {
    margin: 0;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .footer-bottom .footer-content,
  .footer-content {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    width: 979px;
  }

  .footer-content-left,
  .footer-content-right {
    flex-flow: row nowrap;
    align-items: flex-end;
    width: auto;
  }

  .footer-content-left {
    justify-content: flex-start;
    align-items: flex-end;
  }

  .footer-content-right {
    justify-content: flex-end;
  }

  .footer .social-icons {
    margin: 0;
  }
}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {
  .footer-bottom .footer-content,
  .footer-content {
    padding: 0 25px;
    width: 1100px;
  }
}

/* Footer - Fim
/* ******************************************** */


/**
* ********************************************
*
* IPHONE 6 (>370px)
*
* ********************************************
*/
@media only screen and (min-width: 370px) {}


/**
* ********************************************
*
* ANDROID 1080p (>420px)
*
* ********************************************
*/
@media only screen and (min-width: 420px) {}


/**
* ********************************************
*
* SMARTPHONE (>520px)
*
* ********************************************
*/
@media only screen and (min-width: 520px) {}


/**
* ********************************************
*
* TABLET (>767px)
*
* ********************************************
*/
@media only screen and (min-width: 767px) {}


/**
* ********************************************
*
* DEFAULT (>979px)
*
* ********************************************
*/
@media only screen and (min-width: 979px) {}


/**
* ********************************************
*
* LARGE SCREEN (>1199px)
*
* ********************************************
*/
@media only screen and (min-width: 1199px) {}


/**
* ********************************************
* Helper Classes
* ********************************************
*/

/*
* Hide visually and from screen readers
*/
.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}


/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request:
http://www.phpied.com/delay-loading-your-print-css/
========================================================================== */

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
color: #000 !important; /* Black prints faster:
http://www.sanbeiji.com/archives/953 */
box-shadow: none !important;
text-shadow: none !important;
}

a,
a:visited {
  text-decoration: underline;
}

a[href]:after {
  content: " (" attr(href) ")";
}

abbr[title]:after {
  content: " (" attr(title) ")";
}

/*
* Don't show links that are fragment identifiers,
* or use the `javascript:` pseudo protocol
*/
a[href^="#"]:after,
a[href^="javascript:"]:after {
  content: "";
}

pre,
blockquote {
  border: 1px solid #999;
  page-break-inside: avoid;
}

/*
* Printing Tables:
* http://css-discuss.incutio.com/wiki/Printing_Tables
*/
thead {
  display: table-header-group;
}

tr,
img {
  page-break-inside: avoid;
}

img {
  max-width: 100% !important;
}

p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}

h2,
h3 {
  page-break-after: avoid;
}
}
